.top-toolbar{
  height: 1.5rem;
  background-color: #68a2f8;
  border-bottom: 5px solid #a2ccf4;
}
.toolbar{
  display: flex;
  justify-content: flex-end;
  background-color: #edf1f7;
  height: 2rem;
}
.toolbar__logo{
  width: 6rem;
}
