# See http://help.github.com/ignore-files/ for more about ignoring files.

#firebase
/functions/service-account.json

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

/functions
# dependencies
/node_modules
/functions/telecomchatbot-3c2ef-firebase-adminsdk-3y9iv-2cc5853839.json

#config
/functions/phmartinchatbot-firebase-adminsdk-voudy-3a90819e7f.json

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json
/functions/phmartinchatbot-firebase-adminsdk-voudy-3a90819e7f.json
# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
